################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
*.sqlite
/.vs

# Backup written by the tuner before it edits config.ini
*.bak
detected/vcp_1_____DISPLAY1_Monitor0.csv
detected/vcp_1_____DISPLAY1_Monitor0.txt
detected/vcp_2_____DISPLAY2_Monitor0.csv
detected/vcp_2_____DISPLAY2_Monitor0.txt
